<h1>To do list</h1>
<ul>
<li>
   <input type="checkbox">
   Do homework
   </li>
<li>
   <input type="checkbox">
   Help mom
   </li>
<li>
    <input type="checkbox">
    play fortnite
    </li>
</ul>