<h2>Add a new todo...</h2>

<form action="/todo/create">
    <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="Add a new tab...">
    <input class="text-input" id="new-todo-due_date" name="due_date" type="date" placeholder="due_date...">
    <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
</form>
