<input type="checkbox">

<h1><%=@todo.description%></h1>

<h3>Todo #<%= @todo.id %></h3>
      <ul>
       <li>
           <input type="checkbox">
           Do homework
           </li>
       <li>
           <input type="checkbox">
           Help mom
           </li>
        <li>
            <input type="checkbox">
            play fortnite
            </li>
    </ul>
    <a href="/todo/index">previous</a>
    <button class="show"><a id="addbutton" href="/todo/index">previous</a></button>
    <button class="show"><a id="addbutton" href="/todo/edit/<%= @todo.id%>">Edit</a></button>