<h1><%=@todo_description%></h1>
<h3>Todo #<%= params[:id] %></h3>
      <ul>
       <li>
           <input type="checkbox">
           Do homework
           </li>
       <li>
           <input type="checkbox">
           Help mom
           </li>
        <li>
            <input type="checkbox">
            play fortnite
            </li>
    </ul>
    <a href="/todo/index">previous</a>